/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 0px 0px 60px;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


/* My custom CSS
-------------------------------------------------- */
.center {
  text-align: center;
}

.container .jumbotron {
  padding: 30px 30px 30px 30px;
}

.mynavbar {
  background-color: #062249;
}

#navbar > ul > li > a {
  color: #e5e8ec;
}

#navbar > ul > li.active > a{
  color: #FFFFFF;
  background-color: #051A38;
}

#navbar > ul > li > a:hover, #navbar > ul > li > a:focus {
  color: #FFFFFF;
  background-color: #051A38;
}

#navbar > a > img {
  position: relative;
  padding: 10px 36px 18px 36px;
  height: 112px;
}

#navbar > ul {
  position: relative;
  padding-top: 33px;
}

.footer {
  background-color: #062249;
  color: #FFFFFF;
}

.img-responsive {
  max-width: 300px;
  max-height: 300px;
  clip: rect(0px,300px,300px,0px);
  padding: 15px 15px 15px 15px;
}

.col-centered{
    margin: 0 auto;
}