{% extends 'cac_app/base.html' %}

{% load staticfiles %}

{% block content %}

<div class="page-header"> <h1 class="center">Contato</h1> </div>

<div class="container"> <body class="center">
	<p>Entre em contato conosco por um dos e-mails abaixo:</p>
</body> </div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class= "thumb-img img-responsive " src="{% static 'img/bruno.jpg' %}" alt="bruno">
      <div class="caption">
        <h4>Bruno Rasteiro</h4>
        <a href="mailto: bruno.rasteiro@usp.br" target="_blank">bruno.rasteiro@usp.br</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class= "thumb-img img-responsive " src="{% static 'img/rafael.jpg' %}" alt="rafael">
      <div class="caption">
        <h4>Rafael Monteiro</h4>
        <a href="mailto: rafael.augusto.monteiro@usp.br" target="_blank">rafael.augusto.monteiro@usp.br</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail center">
	    <a href="http://conteudo.icmc.usp.br/pessoas/taspardo/" target="_blank">
	      <img class= "thumb-img img-responsive" src="{% static 'img/thiago.jpg' %}" alt="thiago">
	      <div class="caption">
	        <h4>Thiago A. S. Pardo</h4>
	        <a href="mailto: taspardo@icmc.usp.br" target="_blank">taspardo@icmc.usp.br</a>
	      </div>
  		</a>
    </div>
  </div>
</div>
{% endblock %}